@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    margin-top: 75px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

.nav {
    transition: 0.5s ease;
    padding-top: 15px;
    width: 100%;
    height: 130px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    top: 0px;
    z-index: 15;
    background-color: #F83759;
}

.search-bar{
    position: relative;
    width: 100%;
    height: 100%;
    bottom: -20px;
    right:-100px;
}

.search-bar input{
    background-color: rgba(255, 255, 255, 0.38);
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-radius: 20px;
    width: 1150px;
    height: 30px;
    font-size: 18px;
}

.search-bar img{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: -14px;
}

.nav img{
    cursor: pointer;
    vertical-align: middle;
}

#nav-profile img{
    width: 75px;
    height: 75px;
}

.nav-dropdown{
    transition: 0.5s ease;
}

.dropped{
    visibility: hidden;
    text-align: left;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateY(30px);
    right: 10px;
    width: 300px;
    background-color: #724F36;
}

.dropped a{
    text-decoration: none;
    color: white;
}

.dropped-content2{
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    color: black;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 0rem;
}

.nav div.logo a img{
    width: 100px;
    position: absolute;
    left: 5%;
    height: auto;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 30px;
    transform: translateY(10px);
}

.nav div.main_list ul li a, .nav div.main_list ul li div {
    text-decoration: none;
    font-weight: 500;
    line-height: 65px;
    font-size: 2.4rem;
}

footer{
    padding-top: 15px;
    padding-bottom: 5px;
    border-top: solid #F34D55;
    margin-top: 90px;
}

.social-media-footer{
    display: flex;
    justify-content: center;
}

.social-media-footer img{
    width: 70px;
    margin: 0px 5px 10px 5px;
}

.text-footer{
    font-size: 15px;
    text-align: center;
}

.sidebar{
    width: 390px;
    height: 868px;
    z-index: 100;
    position: absolute;
    top: 130px;
    left: 0;
    background: linear-gradient(160.02deg, #A42d39 7.47%, #995547 72.72%);
}

.sidebar-menu{
    margin-top: 100px;
}

hr.utama{
    border: 2px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    margin-right: 20px;
    color: #42FFBB;
}

hr.blabla{
    border: 2px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    margin-right: 20px;
    color: #FFFFFF;
}

.sidebar-menu ul a{
    display: block;
    line-height: 65px;
    text-align: center; 
    color: white;
    font-size: 30px;
}

ul li:hover a{
    color: whitesmoke;
    font-size: 40px;
    text-decoration: none;
}

/* text */

.container{
    position: relative;
    margin-left: 420px;
    margin-top: 130px;
    /* margin-bottom: 50px; */
}

.text{
    margin-right: 800px;
    margin-bottom: 40px;
}

h2{
    margin-left: 40px;
} 

hr.textt{
    border: 2px solid #F34D55;
    margin-right: 800px;
    margin-top: -30px;
    margin-left: -10px;
    margin-bottom: 50px;
}

h2.text-block{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-top: -42px;
    padding-left: 30px;
}

img{
    margin-top: -10px;
}

.acTive{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #5DBE66;
    padding-left: 30px;
    padding-top: 10px;
}

.dot{
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 30px;
    margin-left: 200px;
    margin-top: -52px;
}

.window{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-left: 220px;
    margin-top: -25px;
}

a.btn{
    background: linear-gradient(179.29deg, #FF3156 0.61%, rgba(228, 51, 11, 0.588542) 90.64%);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(0.5px);
    border-radius: 20px;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 500px;
    margin-left: 1100px;
}